%h3 This site makes use of the following resources

<a href="http://thenounproject.com/noun/sad/#icon-No22084" target="_blank">Sad</a> designed by <a href="http://thenounproject.com/Addu.says" target="_blank">Adil Siddiqui</a> from The Noun Project