.panel.panel-info
  .panel-heading
    The Alaska mapped browse site is currently unavailable
  .panel-body
    = image_tag "/assets/saddness.png", :title => "Saddness", :class => "pull-left", style: 'padding-right: 20px;'
    %p 
      As of November 19, 2013, Google is no longer supporting version 2 of the Google maps javascript API used to develop the browse.alaskamapped.org website. The site was developed using Statewide Digital Mapping Initiative funds from 2007-2010. As there is no longer support for development and maintenance of the Browse web interface, GINA is looking into possible solutions and workarounds.

    %p 
      We are considering the creation of a basic web map interface for distribution of the public domain datasets.  By focusing on the public domain and license restricted free datasets we would not have to worry about identity management or authorization of restricted datasets.  This also has the drawback of not providing an interface to license restricted datasets.  We will update this page with details as we figure them out.

    %p 
      %strong Q:
      Why not use Google Maps v3?  
      %br/
      %strong A:
      We developed custom code for the v2 Map API to handle loading a large number of records into the map and along with custom tools for browsing the archive.  Re-implementing this in google maps v3 would be a large effort and does not align with GINAs current direction of using OpenLayers.

    %p 
      %strong Q:
      How do I get the SDMI Orthomosaic Datasets?
      %br/
      %strong A:
      This license restricted dataset is something GINA will continue to handle data distribution requests for.  You can access the orthomosaic products through WMS in the GINA-BDL or the dedicated orthomosaic WMS.  If you need access to the data locally head over to alaskamapped.org/ortho and confirm you are a licensed user, grab the source scene shapefile or ortho tile shapefile and then let us know what scene ids or ortho tiles you need. 

    %p 
      %strong Q:
      Does this affect the GINA web services (GINA-BDL, extras, and tile interfaces?)
      %br/
      %strong A:
      Nope

    %p 
      %strong Q:
      Is there anything I can do to help?
      %br/
      %strong A:
      Yes!  Let us know you use and appreciate this archive by (
      = link_to 'filling out this form', '/questions'
      ).  That will help us justify funding to sustain the browse.alaskamapped.org archive.

    %p 
      If you rely on this site please email support@gina.alaska.edu or let your SDMI representative know. DNR: Ed Fogels; F&G: Kevin Brooks; DOT: Steve Hatter; DMVA: Mike O’Hare; DEC: Larry Hartig; DCCED: Robbie Graham