- content_for(:header_message) do
  %h3
    Explore the Alaska Statewide Orthoimagery Mosaic
  %h4 
    For more details about the project see 
    = link_to 'alaskamapped.org/ortho', 'http://alaskamapped.org/ortho'
  
= render 'shared/map'