%tr
  %td
    = scrap.scene_gid
    %br/
    %abbr{ title: scrap.source.try(:email) }
      = scrap.source.try(:name)
  %td
    .btn-group
      = link_to scrap, class: 'btn btn-default', data: { behavior: 'show-map', wkt: scrap.footprint.wkt } do
        %i.fa.fa-eye
      = link_to scrap, class: 'btn btn-default' do
        %i.fa.fa-info
    
