- content_for(:map_container) do
  #map{ data: { spy: 'affix', offset_top: 112 }}

%h4= @scrap.scene_gid
= render @scrap

:javascript
  var map;
  $(document).on('click', '[data-behavior="show-map"]', function(e) {
    e.preventDefault();
    map.fromWKT($(this).data('wkt'))
    $('li.highlight').removeClass('highlight')
    $(this).parents('li').addClass('highlight')
  })
  $(document).ready(function() {
    map = new BasicMap('map', function() {
      this.fromWKT('#{@scrap.footprint.wkt}')
    });
  })
  