= render 'shared/map'

= render 'search_form'

.results.panel.panel-primary
  .panel-body
    = render @scrap
              
    - if @related_scraps.count > 0
      %h4 Related Scenes
      = render 'search_results_list', scraps: @related_scraps, skip: @scrap