/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome
 *= require leaflet/leaflet
 *= require site
 */

body,html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#layer-btns {
  position: absolute;
  top: 10px;
  right: 10px;
}

#map-container {
  min-height: 400px;
  
  &.full-screen {
    position: absolute;
    top: 162px;
    bottom: 0;
    width: 100%;
    
    #map { 
      height: 100%;
      width: 100%;
    }
  }
}

#map {
  position: relative;
  width: 100%;
  
  height: 400px;
  z-index: 500;
}
#map.affix {
  position: fixed;
  top: 50px;
}