/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome
 *= require leaflet/leaflet
 *= require site
 *= require orthos
 */

#header .title {
  height: 80px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding: 10px;

  h2,h3 {
    margin: 0;
    padding: 0;
  }
  
  h4 {
    padding-left: 1px;
  }
}

#map-container.full-screen {
  top: 130px !important;
}