// Place all the styles related to the Scraps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  position: absolute;
  right: 10px;
  top: 220px;
  width: 400px;
  z-index: 501;
  margin: 0;
  padding:0;
  
  &.panel {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .panel-body {
    padding-bottom: 0;
  }  
}


.results {
  position: absolute;
  bottom: 30px;
  right: 10px;
  top: 340px;
  width: 400px;
  z-index: 501;
  margin: 0;
  padding:0;
  overflow: auto;
  
  &.panel {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .panel-body {
    padding: 10px 5px;
  }
}

.results .info { margin-right: 80px; overflow: hidden; }
.results .scrap { padding: 5px 5px; }
.results .pagination { margin: 5px 0; width: 100%; text-align: center; }
