.row.clearfix.title
  .col-lg-7.col-md-6.col-sm-5.hidden-xs{ style: 'overflow: auto; text-align: left;' }
    %p= yield :header_message
  .col-lg-5.col-md-6.col-sm-7.col-xs-12
    = image_tag "sdmi-banner.png", title: "SDMI"
    
= render 'layouts/site_toolbar'